################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GiftsProject/DesignTimeBuild
/GiftsProject/GiftsProject/bin/*
/GiftsProject/GiftsProject/obj/*
/GiftsProject/GiftsProject.Android/google-services.json
*.mdb
*.dll
/GiftsProject/GiftsProject.Android/bin/Debug/GiftsProject.Android.pdb
*.pdb
*.java
